<span class="page-counter">
    {{ pagination.pageRecords }} {{ 'common.pagination.of'|trans }} {{ pagination.totalRecords }} <span class="text-muted">({{ pagination.totalPages }} {{ 'common.pagination.page_s'|trans({'%count%': pagination.totalPages}) }})</span>
</span>