<span class="page-counter">
    {{ paginationInfo.pageRecords }} {{ 'common.pagination.of'|trans }} {{ paginationInfo.totalRecords }} ({{ paginationInfo.totalPages }} {{ 'common.pagination.page_s'|transchoice(paginationInfo.totalPages) }})
</span>