<span class="page-counter">
    {{ pagination.pageRecords }} {{ 'common.pagination.of'|trans }} {{ pagination.totalRecords }} ({{ pagination.totalPages }} {{ 'common.pagination.page_s'|transchoice(pagination.totalPages) }})
</span>